# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
# Data Science
pandas==2.2.0

# Db
psycopg2-binary==2.9.9
sqlalchemy

# NLP
fuzzywuzzy==0.18.0
python-Levenshtein==0.25.0

# Airflow
apache-airflow-providers-postgres==5.10.2